extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
	.row
		.col-md-6.col-sm-12
			p
				| Loc8r was created to help people find places to sit down and get a bit of work done.
				| <br /><br />
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.
				<br /><br />

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet massa arcu. Integer orci neque, convallis eget sem ultrices, placerat lobortis massa. Vivamus quis tortor ac risus feugiat feugiat sit amet nec dui. Fusce eget euismod ex. Morbi fringilla interdum porta. Integer felis elit, interdum eu tristique ut, semper et ipsum. Ut vitae ultricies urna. Aliquam in malesuada dui, id bibendum purus. Ut cursus augue quam, in ullamcorper mi tempus pharetra. Cras tincidunt lacus ut mollis cursus. Donec in mattis nunc.
				<br /><br />
				Maecenas ultrices nec erat in viverra. Sed in consectetur sapien, ut ultrices nisi. Aenean in iaculis diam, luctus vehicula risus. Sed ullamcorper suscipit accumsan. Vivamus leo dui, faucibus id gravida mollis, pulvinar eget lectus. Duis eu odio dui. Nulla facilisi. Integer nec massa a risus elementum hendrerit eu eget felis. Nam molestie accumsan nisl quis consectetur. Nam placerat pretium sollicitudin.